# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. C++
6. MATLAB
7. Julia
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib
4. Seaborn
5. Scikit_Learn
6. TensorFlow
7. Keras

| Data Science Tools |
| ------------- | 
| Tableau |
| SAS |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List popular languages for Data Science
* List popular machine learning databases for Data Science
* List popular libraries for  Data Science

## Author
Rakesh Voggu